
.event-sector{
  height: fit-content;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
}
.events-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
  
}
.events-section h2 {
  margin-bottom: 16px;
  width: 100%;
}
.event-sector span {
  font-weight: 500;
  margin-bottom: 4px;
  width: fit-content;

}
.event-sector img {
  margin-bottom: 16px;
  width:  100%;

}
.event-sector--animated{
  animation: bounceAnimation 1s ease forwards;
}
@keyframes bounceAnimation {
  0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
}

@media (max-width: 1295px) {
  .event-sector{
    width: 48%;
    display: flex;
    flex-direction: column;
  }
  .events-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
  }
}
@media (max-width: 440px) {
  .event-sector{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .events-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
  }
}