.ego-profile-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    opacity:0.8;
    transition: 0.6s;
    cursor: pointer;
}
.ego-profile-container:hover{
    opacity:1;
}
.ego-profile-rarity{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    -webkit-text-stroke: 0.2px #000;
}
.ego-profile-rarity--wrath{
    background-color: var(--wrath-frame-color);
    color: var(--wrath-color);
}
.ego-profile-rarity--lust{
    background-color: var(--lust-frame-color);
    color: var(--lust-color);
}
.ego-profile-rarity--sloth{
    background-color: var(--sloth-frame-color);
    color: var(--sloth-color);
}
.ego-profile-rarity--glut{
    background-color: var(--glut-frame-color);
    color: var(--glut-color);
}
.ego-profile-rarity--gloom{
    background-color: var(--gloom-frame-color);
    color: var(--gloom-color);
}
.ego-profile-rarity--pride{
    background-color: var(--pride-frame-color);
    color: var(--pride-color);
}
.ego-profile-rarity--envy{
    background-color: var(--envy-frame-color);
    color: var(--envy-color);
}
.ego-profile-image{
    width: 150px;
    height: 150px;
}
.ego-profile-name{
    width: 150px;
    display: flex;
    color: rgb(235, 223, 201);
    justify-content: center;
    padding: 6px 10px 0px 10px;
    box-sizing: border-box;
    align-items: center;
}