.entityFullInfo{
    width:  90%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.entityFullInfo h2{
    width:  100%;
    display: flex;
    justify-content: center;
    color:white;
}

.shadow img {
    user-select: none;
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative; 
    border-radius: 6.4px 6.4px;
}


.entityFullInfo-tooltip{
    display: flex; 
    position: absolute;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background-color: #333;
    color: #fff;
    font-size: 14.4px;
    padding: 4px;
    border-radius: 4px;
    z-index: 2;
    top: -1.6px;
    transform: translate(-50%,-120%);
    opacity: 0;
    transition: 0.4s;
    left:50%;
  }
