.contact-info{
    color:white;
    width: 90%;

}
.contact-info h2{
    font-size: 32px;
}
.contact-info button{
    height: 75px;
    width: 75px;
    opacity: 0.8;
    transition: 0.4s;
    position: relative;
    margin-right: 50px;
    animation:spin-grow-shrink 1s ease forwards;
    opacity: 0;
}
.contact-info .discord{
    animation: wiggle 1s ease-in-out infinite , spin-grow-shrink 1s ease;
}
@keyframes spin-grow-shrink {
    0% {
      transform: rotate(0deg) scale(1) translateX(-100px);
      opacity: 0;
    }
    50% {
      transform: rotate(180deg) scale(2);
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes wiggle {
    0% { transform: rotate(0deg);  opacity: 1;}
   80% { transform: rotate(0deg);  opacity: 1;}
   85% { transform: rotate(5deg);  opacity: 1;}
   95% { transform: rotate(-5deg);  opacity: 1;}
  100% { transform: rotate(0deg);  opacity: 1;}
}
.contact-info button:hover{
    opacity: 1;
    transform: scale(1.2);
}
.contact-info button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }