.item-identity-container{
    width: 174px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity:0.8;
    transition: 0.6s;
    cursor: pointer;
}
.item-identity-container:hover{
    opacity:1;
}
.item-identity-rarity{
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    font-size: 17.055px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.458px;
    background: rgba(0, 0, 0, 0.40);
    padding: 3.655px 7.309px;
    margin: 6px 0px 0px 6px;
}
.item-identity-frame{
    width: 100%;
    height: 6px;
}
.item-identity-frame--OOO{
    background: var(--OOO-frame-color);
}
.item-identity-frame--OO{
    background: var(--OO-frame-color);
}
.item-identity-frame--O{
    background: var(--O-frame-color);
}
.item-identity-rarity--OOO{
    color: var(--OOO-color);
}
.item-identity-rarity--OO{
    color: var(--OO-color);
}
.item-identity-rarity--O{
    color: var(--O-color);
}
.item-identity-image{
    width: 150px;
    height: 150px;
}
.item-identity-name{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 17px;
    box-sizing: border-box;
    text-align: left;
    padding: 0px 15px 0px 15px;
}
