.list-ego{
    display: flex;
    width:90%;
    flex-direction: column;
    color:white;
}
.list-ego h2{
    font-size: 30px;
    margin-top:0 ;
    font-weight: 600;
}
.list-ego p{
    font-size: 24px;
    font-weight: 400;
}
.list-ego-content {
    width:90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 138.4px);
    row-gap: 16px;
    column-gap: 9.6px;
    justify-content: space-between;
}
@media (max-width: 1039.5px) {
    .list-ego-content{
        grid-template-columns: repeat(auto-fill, 124.56px);
    }
}
@media (max-width: 810px) {
    .list-ego-content{
        grid-template-columns: repeat(auto-fill, 106.568px);
    }
}