.tier-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.tier-list{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tier-list--ego-ids{
    width: 100%;
}
.tier-list--passives{
    width: 48%;
}
.tier-list-name{
    color:white;
    font-size: 48px;
    margin-bottom: 12px;
}