.id-profile-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    opacity:0.8;
    transition: 0.6s;
    cursor: pointer;
}
.id-profile-container:hover{
    opacity:1;
}
.id-profile-rarity{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.id-profile-rarity--OOO{
    background-color: var(--OOO-frame-color);
    color: var(--OOO-color);
}
.id-profile-rarity--OO{
    background-color: var(--OO-frame-color);
    color: var(--OO-color);

}
.id-profile-rarity--O{
    background-color: var(--O-frame-color);
    color: var(--O-color);

}
.id-profile-image{
    width: 150px;
    height: 150px;
}
.id-profile-name{
    width: 150px;
    display: flex;
    color: rgb(235, 223, 201);
    justify-content: center;
    padding: 6px 10px 0px 10px;
    box-sizing: border-box;
    align-items: center;
}