.tb-slots{
    width: 90%;
    color:white;
    position: relative;
}
.tb-slots-container{
    width: 100%;
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 20px 2px;
    position: relative;
    transition:0.5s;
    padding-top: 30px;
    user-select: none;
    overflow: hidden;
}
.tb-slots-container--flex{
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition:0.5s;
    animation: collapseGrid 1s ease-in-out forwards;
}
.tb-slots-container--grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,260px);
    justify-content: space-between;
    grid-row-gap: 24px;
    transition:0.5s;
    animation: expandGrid 1s ease-in-out forwards;
}
.tb-slots-slot--5{
    display: flex;
    flex-direction: column;
    background: #25272D;
    padding: 20px;
    width: 220px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
}
.tb-slots-slot--5:last-of-type{
    margin-right: 0px;
}
.tb-slots-slot--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-container-id--5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 250px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}
.tb-slots-container-id--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-container-ego--5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}
.tb-slots-slot-ego--5{
    width: 37px;
    height: 37px;
    border-radius: 4px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.tb-slots-slot-ego--5 span {
    color:rgb(139, 135, 135);
    font-size: 24px;
}
.tb-slots-slot-ego--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-id-sin--5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.51);
}
.tb-slots-id-sin--5 div {
    width: 33.33%;
    font-size: 10.4px;
    height: 12px;
    display: flex;
    padding-top: 3px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.tb-ego-frame{
    width: 100%;
    height: 2px;
    position:absolute;
    bottom: 0;
}
.tb-slots-id-img--5{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.tb-slots-empty{
    border: 1px dashed #717171;
}
.tb-slots-X{
    width: 28px;
    height: 28px;
    position: absolute;
    top: -28px;
    right: 0;
    color:#717171;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
    padding: 4px 0px 0px 2px;
    cursor: pointer;
    transition: 0.5s;
}
.tb-slots-X:hover{
    color:white;
}

.tb-slots-reset{
    position: absolute;
    top:20px;
    right: 0px;
    cursor: pointer;
    padding: 2px 0;
    color:#717171;
    font-size: 24px;
    transition: 0.5s;
}
.tb-slots-reset:hover{
    color:#E8E8E8;
}
.tb-slots-expand{
    position: absolute;
    top:20px;
    right: 100px;
    cursor: pointer;
    padding: 2px 0;
    color:#717171;
    font-size: 24px;
    transition: 0.5s;
}
.tb-slots-tooltip{
    display: none; /* Начальное скрытие подсказки */
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }
  
.tb-slots-slot--5:hover .tb-slots-tooltip {
    display: block; 
}
.tb-slots-btnLeft{
    position: absolute;
    left: 0;
    top:50%;
    z-index: 5;
    transform: translateX(calc(-100% - 20px));
}
.tb-slots-btnRight{
    position: absolute;
    right: 0;
    z-index: 5;
    top:50%;
    transform: translateX(calc(100% + 20px));
}
.tb-slots-btnSlotCount{
    padding: 10px;
    font-size: 24px;
}
