.tb-slots-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 48px;
    margin-bottom: 24px;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.tb-slots-slot--5{
    display: flex;
    flex-direction: column;
    background: #25272D;
    padding: 20px;
    width: 220px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.tb-slots-slot--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-container-id--5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:  100%;
    height: 250px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}
.tb-slots-container-id--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-container-ego--5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.tb-slots-slot-ego--5{
    width: 37px;
    height: 37px;
    background-color: rgb(139, 135, 135);
    border-radius: 4px;
    margin-top: 4px;
    display: flex;
    flex-direction: column-reverse;
    transition: box-shadow 0.3s ease;
}

.tb-slots-slot-ego--5--active{
    box-shadow: 0 0 12px #3AA1FF;
}
.tb-slots-id-sin--5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.51);
}
.tb-slots-id-sin--5 div {
    width: 33.33%;
    font-size: 10.4px;
    height: 12px;
    display: flex;
    padding-top: 3px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.tb-ego-frame{
    width: 100%;
    height: 2px;
}
.tb-slots-id-img--5{
    width: 100%;
    height: 100%;
    background-color: rgb(139, 135, 135);
    border-radius: 4px;
}
.tb-slots-X{
    width: 28px;
    height: 28px;
    position: absolute;
    top: -28px;
    right: 0;
    color:#E8E8E8;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    padding: 4px 0px 0px 2px;
    cursor: pointer;
    transition: 0.6s;
}
.tb-slots-X:hover{
    color:white;
}
.tb-slots-reset{
    position: absolute;
    top:-40px;
    right: 20px;
    cursor: pointer;
    padding: 2px 0;
    color:#E8E8E8;
    font-size: 24px;
}