.disclaimer-banner{
    width: 100%;
    height: 20vh;
    display: flex;
    box-sizing: border-box;
    color: white;
    font-size: 4vh;
    position: fixed;
    background-color: #121315;
    border: 1vh dashed grey;
    z-index: 105;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
}
.disclaimer-banner p {
    margin: 0;
}
.disclaimer-banner span {
    color: #3AA1FF;
}
.disclaimer-banner button {
    border-radius: 6px;
    padding: 10px 30px;
    background-color: grey;
    box-sizing: border-box;
    transition: 0.5s;
}
.disclaimer-banner button:hover {
    background-color: rgb(186, 186, 186);
   
}
