.left-menu {
  width: 220px;
  height: 100%;
  min-height: 100vh;
  background-color: #131319;
  position: fixed;
  z-index: 111;
  transition: 0.4s;
  user-select: none;
}
.burger-menu--wrapper{
position: absolute;
right: 0px;
top: 36px;
display: flex;
}

.left-menu ul {
  list-style: none; 
  padding: 36px 16px 24px 16px;
  margin: 0; 
  box-sizing: border-box;
  overflow: hidden;
}

.left-menu li {
  width: 188px;
  height: 44px;
}

.left-menu li:first-of-type{
margin-bottom: 27.2px;
}

.left-menu li:first-of-type a{
  padding: 0;
  color: white;
  width: 188px;
  height: 56px;
}

.left-menu a {
  color: #AFAEB4; 
  text-decoration: none; 
  display: flex;
  flex-direction: row;
  gap: 9.6px;
  align-items: center; 
  padding: 10.4px 11.2px;
  font-size: 19.2px;  
  transition: 0.4s;
  border-radius: 3.2px;
}

.left-menu li:first-of-type a{
  font-size: 24px; 
}

.left-menu a span span{
  color: #3AA1FF;
}

.left-menu a:hover {
  color: #fff; 
}

.left-menu svg{
  transition: 0.4s;
  opacity: 0.4;
  width: 20.8px;
  height: 20.8px;
}

.left-menu li:nth-of-type(1) svg{
  opacity: 1;
  width: unset;
  height: unset;
}

.left-menu a:hover svg{
  opacity: 1;
}

.left-menu-route--active{
  background: linear-gradient(97deg, #3AA1FF -139.58%, #211E29 25.72%);
  color: #fff !important; 
}

.left-menu-route--active svg{
  opacity: 1;
}

.burger-menu {
  position: relative;
  color: white;
  font-size: 32px;
  z-index: 2;
  width: 32px;
  height: 16px;
  line-height: 0;
  transition: 0.8s;
  left: unset;
}

.burger-menu div{
  height: 3.2px;
  background-color: #fff;
  transition: 0.4s;
}

.burger-menu::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.2px;
  background-color: #fff;
  transition: 0.4s;
  right: 0;
}

.burger-menu::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 60%;
  height: 3.2px;
  color: white;
  background-color: #fff;
  transition: 0.4s;
  right: 0;
}

.burger-menu .line2{
  position: absolute;
  top:0;
  opacity: 1;
  transition: 0.4s;
  width: 100%;
  right: 0;
}

.burger-menu .line3{
  position: absolute;
  bottom:0;
  opacity: 1;
  transition: 0.4s;
  width: 60%;
  right: 0;
}

.burger-menu .line1{
  transition: 0.4s;
  width: 60%;
  right: 0;
  top: 6.4px;
  position: absolute;
}

.burger-menu:hover .line1{
  opacity: 0;
}

.burger-menu:hover .line2{
  transform-origin: right;
  transform: translate(-11.2px,-2.4px)  rotate(-30deg); width: 60%;
}

.burger-menu:hover .line3{
  transform-origin: right;
  transform: translate(-11.2px,2.4px)  rotate(30deg); width: 60%;
}

.burger-menu:hover::after{
  transform-origin: right;
  transform: translate(0,-2.4px)  rotate(-30deg); width: 60%;
}

.burger-menu:hover::before{
  transform-origin: right;
  transform: translate(0,2.4px)  rotate(30deg); width: 60% ;
}

.left-menu--minimized .line3{
  right: unset;
}

.left-menu--minimized .line2{
  right: unset;
}

.left-menu--minimized .line1{
  right: unset;
  left: 0;
}

.left-menu--minimized .burger-menu::before{
  right: unset;
  left:0;
}

.left-menu--minimized .burger-menu::after{
  right: unset;
  left:0;
}

.left-menu--minimized .burger-menu:hover .line2{
  transform-origin: initial;
  transform: translate(17.6px,2.4px)  rotate(30deg); width: 60%;
}

.left-menu--minimized .burger-menu:hover .line3{
  transform-origin: initial;
  transform: translate(17.6px,-2.4px)  rotate(-30deg); width: 60%;
}

.left-menu--minimized .burger-menu:hover::after{
  transform-origin: initial;
  transform: translate(6.4px,2.4px)  rotate(30deg); width: 60%;
}

.left-menu--minimized .burger-menu:hover::before{
  transform-origin: initial;
  transform: translate(6.4px,-2.4px)  rotate(-30deg); width: 60% ;
}

.left-menu--minimized  .burger-menu--wrapper {
  right: 16px;
  top: 36px;
}

.left-menu--minimized  li:first-of-type {
  margin-bottom: 12px; 
  margin-top: 18px;
}

.left-menu--minimized  span {
  font-size: 38.4px; 
}

.left-menu--minimized{
  width: 64px;
}

.left-menu--minimized svg{
  width: 32px;
  height: 32px;
}
.left-menu--minimized a{
  padding: 0;
  background: none;
}

@keyframes appearAnimation {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@media (max-width: 1000px) {
  .burger-menu{
    display: none;
  }
  .left-menu{
    width: 100%;
    margin-top: 70px;
    min-height: unset;
    transition: 0s;
    transform: translateX(-100%);
  }
  .left-menu--minimized{
    transition: 0.4s;
  }
  .first-render{
    display: none;
  }
  .left-menu--maximized{
    transform: translateX(0);
    transition: 0.4s;
  }
  .left-menu--minimized li{
    opacity: 0;
  }
  .left-menu ul{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  .left-menu li{
    width: 100%;
    height: fit-content;
  }
  .left-menu li a{
    height: 40px;
    font-size: 32px;
  }
  .left-menu li svg{
    height: 35px;
    width: 35px;
  }
  .left-menu li:first-of-type{
    display: none;
  }
}