.item-ego-info-container {
    background-color: #4D4B4B;
    display: flex;
    flex-direction: column;
    transition: 0.6s;
    position: absolute;
    left:0;
    top:0;
    padding: 20px;
    transform: translate(calc(-50% + 87.5px), calc(-100% - 14.4px));
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

.item-ego-info-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.item-ego-info-sin {
    background-color: #646262;
    margin-right: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    width: 60px;
}

.item-ego-info-sin:last-of-type {
    margin-right: 0px;
}

.item-ego-info-sin img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-right: 4px;
}

.item-ego-info-line {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.item-ego-info-tier-rank-container {
    padding: 3.2px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #646262;
    color: white;
    width: calc(100% - 43.2px);
}
.item-ego-info-tier-rank-container span {
    padding-top: 3.2px;
    font-size: 20px;
    font-weight: 600;
}
.item-ego-info-tier-rank {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 22px;
    width:100%;
    height: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.item-ego-info-tier-rank--SSS {
    background-color: rgb(236, 24, 48);
}

.item-ego-info-tier-rank--SS {
    background-color: rgba(255, 97, 74, 0.8);
}

.item-ego-info-tier-rank--S {
    background-color: rgba(255, 188, 58, 0.8);
}

.item-ego-info-tier-rank--A {
    background-color: rgb(143, 255, 58);
}

.item-ego-info-tier-rank--B {
    background-color: rgb(58, 255, 166);
}

.item-ego-info-tier-rank--C {
    background-color: rgb(58, 255, 248);
}

.item-ego-info-arrow {
    width: 14.4px;
    height: 14.4px;
    transform: rotate(-45deg);
    background: #4D4B4B;
    position: absolute;
    bottom: -7.2px;
}




