.tier-bar-container {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px 0 72px;
    opacity: 0;
}
.tier-bar-container--animated{
    animation: slideAnimation 1s ease;
    opacity:1;
}
@keyframes slideAnimation {
    0% {
      transform: translateX(-200px);
        opacity:0;
    }
    100% {
      transform: translateX(0);
      opacity:1;
    }
  }
.tier-bar-container--SSS{
    background: linear-gradient(90deg, #FF3A3A -98.8%, #202228 14.97%);
}
.tier-bar-container--SS{
    background: linear-gradient(90deg, rgba(255, 97, 74, 0.8) -98.8%, #202228 14.97%);
}
.tier-bar-container--S{
    background: linear-gradient(90deg, rgba(255, 188, 58, 0.8) -98.8%, #202228 14.97%);
}
.tier-bar-container--A{
    background: linear-gradient(90deg, rgb(143, 255, 58) -98.8%, #202228 14.97%);
}
.tier-bar-container--B{
    background: linear-gradient(90deg, rgb(58, 255, 166) -98.8%, #202228 14.97%);
}
.tier-bar-container--C{
    background: linear-gradient(90deg, rgb(58, 255, 248) -98.8%, #202228 14.97%);
}
.tier-bar-line {
    position: absolute;
    width: 2.4px;
    height: 100%;
    margin-left: -72px;
}

.tier-bar-line--SSS {
    background-color: rgb(236, 24, 48);
}

.tier-bar-line--SS {
    background-color: rgba(255, 97, 74, 0.8);
}

.tier-bar-line--S {
    background-color: rgba(255, 188, 58, 0.8);
}

.tier-bar-line--A {
    background-color: rgb(143, 255, 58);
}

.tier-bar-line--B {
    background-color: rgb(58, 255, 166);
}

.tier-bar-line--C {
    background-color: rgb(58, 255, 248);
}

.tier-bar-dot {
    width: 10.4px;
    height: 10.4px;
    border-radius: 50%;
    margin-right: 5.2px;
    margin-top: 6px;
}

.tier-bar-items {
    display: grid;
    row-gap: 20px;
    column-gap: 12px;
    grid-template-columns: repeat(auto-fill, 173px);
    width: 100%;
    text-align: center;
    margin-top: 24px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.tier-bar-rating-container {
    width: 59.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}

.tier-bar-rating {
    display: inline-block;
    align-items: flex-start;
    color: #FFF;
    font-size: 48px;
    margin-top: 40px;
}

.tier-bar-description {
    color: #AFAEB4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
