.tier-list-nav-container{
  margin-top: 20px;
  width: 80%;
}
.tier-list-nav{
    width: 100%;
}
.tier-list-nav ul {
    list-style: none; 
    padding: 0px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
  
  .tier-list-nav  li {
    margin-bottom: 10px; 
    margin: 0 6px 0px 0px; 
    height: 48px;
    width: 125px;
    background-color: var(--grey-1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.664); 
  }
  
 .tier-list-nav  a {
    text-decoration: none; 
    display: block; 
    padding: 10px 0; 
    transition: 0.5s;
    color: rgb(206, 206, 206); 

  }
  
  .tier-list-nav a:hover {
    color: #fff; 
  } 
  .tier-list-nav-filters{
    display: flex;
    flex-direction: row;
  }
  .tier-list-nav-filters-image{
    width: 50px;
    height: 50px;
  }
  .tier-list-nav-filters-image-container--active{
    background-color: antiquewhite;
  }