.tier-list-nav-container{
  margin-top: 20px;
  width: 90%;
  margin-bottom: 24px;
}
.tier-list-nav{
    width: 100%;
}
.tier-list-nav ul {
    list-style: none; 
    padding: 0px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin: 0px;
  }
  
  .tier-list-nav  li {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px; 
    margin: 0 6px 0px 0px; 
    color: rgba(255, 255, 255, 0.664); 
    border-radius: 4px;
    background: #25272D;
    position: relative;
  }
  
 .tier-list-nav  a {
    height: 48px;
    width: 125px;
    text-decoration: none; 
    transition: 0.5s;
    color: #AFAEB4;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tier-list-nav a:hover {
    color: #fff; 
  }

.tier-list-nav--active{
    background: linear-gradient(0deg, #3AA1FF -174.48%, #211E29 32.15%);
    color: #fff !important; 
}
.tier-list-nav-line{
  width: 100%;
  height: 2px;
  background: #3AA1FF;
  position: absolute;
  bottom:0; 
}